<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERNO</title>
</head>
<body>
    <h1>ESTILO INTERNO</h1>
    <p>PARA APLICAR ESTILOS DENTRO DE LA MISMA PAGINA</p>
    <style>
        body {
            background-color: lightgray;
        }

        h1 {
            color: green;
            text-align: center;
        }

        p {
            color: purple;
            font-size: 20px;
        }
    
</body>
</html>